:root {
  --clr-primary: #feca33;
  --clr-secondary: #a50c0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.125rem;
  color: #f1f1f1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1600138336992-d9fcd4280aa5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
      no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
}

/* Basic Styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background: var(--clr-primary);
  color: var(--clr-secondary);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.text-primary {
  color: var(--clr-primary);
}

/* Nav Section */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  /* background: lightblue; */
  overflow: hidden;
  height: 70px;
}

.main-header .logo {
  font-size: 2rem;
}

.main-header .main-nav {
  display: flex;
  align-items: center;
}

.main-header nav ul {
  display: flex;
  margin-right: 2rem;
}

.main-header nav ul li {
  height: 100%;
  padding: 5px 10px;
}

.main-header nav ul li a {
  padding-bottom: 5px;
}

.main-header nav ul li a:hover {
  border-bottom: solid 1px var(--clr-primary);
}

.btn:hover {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}

/* Main Section */

/* Footer Section */
.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.7rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  padding: 2rem;
}

.main-footer .box-footer p {
  font-size: 0.85rem;
}
